.tabla {
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: right;
    width: 600px;
    border-collapse: collapse;
}

.tabla th {
    padding: 5px;
    font-size: 16px;
    background-color: #f2f2f2;
    color: black;
    border-right: 1px solid #558FA6;
    border-bottom: 1px solid #558FA6;
    font-family: "Trebuchet MS", Arial, sans-serif;
    text-transform: uppercase;
}

.tabla .modo1 td {
    padding: 5px;
    border-right: 1px solid #A4C4D0;
    border-bottom: 1px solid #A4C4D0;
    font-family: "Trebuchet MS", Arial, sans-serif;
    text-align: left;
}

.tabla .modo2 td {
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    background-color: #fdfdf1;
    color: #990000;
    border-right: 1px solid #EBE9BC;
    border-bottom: 1px solid #EBE9BC;
    font-family: "Trebuchet MS", Arial, sans-serif;
    text-align: left;
}